
/*
    선택자 : CSS를 적용할 대상

    전체선택자
    태그선택자
    그룹선택자
    아이디선택자
    클래스선택자
    자식선택자
    자손선택자
    형제선택자
    가상클래스선택자
    가상요소선택자
    속성선택자

*/

/* 전체 선택자 */
/* 작성한 요소 외에도 상위 요소 (body, html) */
/* 가장 낮은 우선 순위 */
* {
    border: 1px solid #000;
    padding: 0;
    margin: 0;
}

/* 태그선택자 */
div {
    color: purple';
}

/*
선택자의 우선 순위
우선 순위가 높은 선택자 >> 낮은 선택자
같은 선택자일 경우는 뒤늦게 나온 선택자가 덮어쓴다
대체x -> 중복되는 속성만
/*그룹선택자 */


div, p {
    color:red;
}

/*
id선택자
class선택자

html 요소에는 id와 class 속성이
<p id=""> html파일에 단 하나뿐인 요소
<p class=""> html파일 묶음

id - html에서 단 하나 뿐이지만
class - 여러개 일 수 있다

=> 여러분들이 원하는 요소를 직접 선택하고 정의할 수 있다
*/

#p1 {
    color:blue;
}

.p-class {
    color:green;
}

/* 18, 31, 34, -> p*/
/* p_parent라는 id를 가진 요소 바로 아래 p */
#p_parent > p {
    color:hotpink;
}

/* 24 -> p*/
/* p_parent라는 id를 가진 요소 바로 아래 ul의 바로 아래 ㅣi의 바로 아래 p */
#p_parent > ul > li > p {
    color:hotpink;
    color:chocolate;
}

/* 18, 31, 34, 24 p */
/* p_parent라는 id를 가진 요소의 모든 p */
#p_parent p {
    background-color: aquamarine;
    color: blueviolet;

}

/*
  제가 이 수업 끝나고 과제를 하나 더드릴 거니깐, 문제 풀이
*/

/*
인접형제 성택자 (+)
바로 다음에 위치하는 형제 요소
*/

#p1 ~ p {
    background-color: darkgreen;
}

/*
일반형제 선택자 (~)
해당 요소 이후에 오든 모든 형제요소*/

#p1 ~ div {
    background: darkgreen;
}

/*
css가 여러분들 마음대로 움직이지 않는 경우의 수

1. 우선순위
2. 조건 (특정 css를 적용하려면, 이러한 css가 있어야돼) 
*/

/*
가상 클래스 선택자 (:) -> 해당 요소를 직접 선택
가상 요소 선택자 (::) -> 해당 요소가 아닌 가상의 요소를 선택
*/

a:visited {
    color: red;
}

button:hover {
    color:white;
    background-color: blue;
}

button:disabled {
    background-color: gray;
    color: yellow;
}

/*해당 요소에 특정한 상황에 따라 css가 변경(가상 클래스 선택자)*/

input::placeholder {
    color:coral
}

/* 가상 요소는 요소 자신이 아닌 요소가 가진 특정 속성 */

a[herf="https://daum.net"]{

}

/* 대괄호, 속성 = 속성값 */
input[type="check-box"]{

}

/*
전체선택자: *, 우선순위 낮음
태그선택자: div, 우선순위 낮음
그룹선택자: div, p
!아이디, 클래스 선택자: #아이디명, 클래스명 우선순위 높음
자식자손선택자: 띄어쓰기(" "), 꺽새( > ), 대상이 상세히 기술 될수록 우선순위가 높음
형제선택자: ~, +, 같은 레벨(이웃한)
가상요소, 가상클래스 선택자: 특정한 상황에 따라 css변경, 해당 요소가 아닌 속성에도 css부여
속성선택자: 대괄호, 속성 = 속성값
*/

/*
선택자를 공부하는 가장 좋은 방법은 외우는게 아닙니다
직접 웹사이트를 만들어보고 내가 원하는 요소를 선택해서 css 부여

====> "나는 어떠한 요소든 선택할 수 있다"
====> "css"의 우선순위"
*/

1. 박스 모델로 나누어서 html 구조잡아보기
2. 자기소개서 제출
3. 자식자손선택자 문제 -> 풀이

